---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog";

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>

	<div class="space-y-4 m-4">

		<ul class='grid md:grid-cols-3 md:grid-rows-3 text-center p-2 grid-cols-2 grid-rows-2'>

			{
				allPosts.map((post) => (
					<li class='p-2 m-2 border-4 rounded border-red-200 bg-purple-800/40 hover:bg-purple-900'>
						<a href={post.url} class='text-white'>
							<h1 class='m-2 sm:text-lg text-xs'>{post.frontmatter.title}</h1>
							<img class='block mx-auto size-64' src={post.frontmatter.image} alt={post.frontmatter.title}>
							<p class='m-2'>Posted: {post.frontmatter.date}</p>
						</a>
					</li>
				))
			}
			
		</ul>
	
	</div>

</BaseLayout>
